@font-face {
    src: url("../fonts/PlayfairDisplay-Bold.ttf"),
    url("../fonts/OpenSans-Light.ttf"),
    url("../fonts/NotoSans-Bold.ttf"),
    url("../fonts/NotoSans-Regular.ttf");
}

.radiobutton {
    -fx-border-radius: 10px;
    -fx-border-color: rgba(82, 123, 142, 0.40);
    -fx-border-width: 2px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-family: "Noto Sans Regular";
    -fx-font-size: 20;
    -fx-padding: 10px;
}

.next-button {
    -fx-border-radius: 10px;
    -fx-border-color: rgba(82, 123, 142, 0.40);
    -fx-border-width: 2px;
    -fx-background-color: #527b8e;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Noto Sans Regular";
    -fx-font-size: 20;
    -fx-padding: 10px;
}

.quiz-comment {
    -fx-border-radius: 10px;
    -fx-font-family: "Noto Sans Regular";
    -fx-font-size: 20;
}

.score {
    -fx-font-size: 28;
    -fx-font-family: "Noto Sans Regular";
    -fx-text-fill: #ffffff;
}

.question-no {
    -fx-font-size: 12;
    -fx-font-family: "Noto Sans Regular";
    -fx-text-fill: #b5b5b5;
}

.final-score {
    -fx-font-size: 60;
    -fx-font-family: "Noto Sans Bold";
    -fx-text-fill: #ffffff;
}

.try-again {
    -fx-border-radius: 20px;
    -fx-background-color: #527B8E;
    -fx-font-family: "Noto Sans Bold";
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-text-alignment: center;
}