@font-face {
    src: url("../fonts/PlayfairDisplay-Bold.ttf"),
    url("../fonts/OpenSans-Light.ttf"),
    url("../fonts/NotoSans-Bold.ttf"),
    url("../fonts/Poppins-Bold.ttf"),
    url("../fonts/NotoSans-Regular.ttf");
}

.default-tile {
    -fx-background-color: white;
    -fx-border-color: #d3d6da;
    -fx-text-fill: black;
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.invalid-warning {
    -fx-background-color: #606060;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-min-width: 200px;
    -fx-min-height: 30px;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 10px;
}

.tile-with-letter {
    -fx-border-color: #878a8c;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.present-letter {
    -fx-background-color: #e9c46a;
    -fx-border-color: #e9c46a;
    -fx-text-fill: white;
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.wrong-letter {
    -fx-background-color: #ef7886;
    -fx-border-color: #ef7886;
    -fx-text-fill: white;
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.correct-letter {
    -fx-background-color: #2a9d8f;
    -fx-border-color: #2a9d8f;
    -fx-text-fill: white;
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.main-screen {
    -fx-background-color: white;
    -fx-padding: 10px;
}

.keyboard-tile {
    -fx-background-color: #d3d6da;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: "Poppins Bold";
    -fx-font-weight: bold;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.keyboardCorrectColor {
    -fx-background-color: #d3d6da;
    -fx-text-fill: #2a9d8f;
    -fx-font-size: 16px;
    -fx-font-family: "Poppins Bold";
    -fx-font-weight: bold;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.keyboardPresentColor {
    -fx-background-color: #d3d6da;
    -fx-text-fill: #e9c46a;
    -fx-font-size: 16px;
    -fx-font-family: "Poppins Bold";
    -fx-font-weight: bold;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.keyboardWrongColor {
    -fx-background-color: #d3d6da;
    -fx-text-fill: #ef7886;
    -fx-font-size: 16px;
    -fx-font-family: "Poppins Bold";
    -fx-font-weight: bold;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.keyboard-tile-non-alphanumeric {
    -fx-background-color: #d3d6da;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: "Poppins Bold";
    -fx-font-weight: bold;
    -fx-min-width: 62px;
    -fx-min-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.game-status {
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #1a475b;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.winning-word {
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #1a475b;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.try-again {
    -fx-background-radius: 20px;
    -fx-background-color: #527B8E;
    -fx-font-family: "Poppins Bold";
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.menu-button {
    -fx-background-color: linear-gradient(to right, #2B576B, #1A475B, #2B576B);
    -fx-background-radius: 25px;
    -fx-text-fill: white;
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 16px;
    -fx-min-width: 260px;
    -fx-min-height: 50px;
    -fx-pref-width: 260px;
    -fx-pref-height: 50px;
    -fx-text-alignment: center;
}

.statistic-value {
    -fx-text-fill: #1A475B;
    -fx-font-family: "Poppins Regular";
    -fx-font-weight: normal;
    -fx-font-size: 48px;
}

.statistic-title {
    -fx-text-fill: #000000;
    -fx-font-family: "Poppins Regular";
    -fx-font-weight: normal ;
    -fx-font-size: 12px;
}

.statistic-guess-distribution {
    -fx-text-alignment: center;
    -fx-text-fill: #000000;
    -fx-font-family: "Poppins Bold";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.bar-chart {
    -fx-text-fill: white;
    -fx-font-family: "Poppins Bold";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-min-height: 20px;
    -fx-background-color: #527B8E;
}

.bar-chart-label {
    -fx-text-fill: black;
    -fx-font-family: "Poppins Bold";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-min-height: 20px;
}